
.table-view {
    -fx-background-color: white;
    -fx-border-color: rgba(0, 0, 0, 0.25);
}

.table-view .column-header {
    -fx-background-color: white;
    -fx-border-color: rgba(0, 0, 0, 0.1);
    -fx-border-insets: -1 -1 0 0;
    -fx-padding: 0 0 5px 0;
    -fx-font-color: red;
}

.table-row-cell:highlighted {
    -fx-background-color:  #1e88e5;
}
